<template>
	<div class="bg-containers">
		<div :class="['dice-btn', isLoading ? 'dice-roll' : 'dice-normal']" @click="onTapRollDice">🎲</div>
		<div class="left-chance">今日剩余次数：{{leftChance}}次</div>
		<Lighting class="lighting1" :lightcolors="['#FFD700', '#FDF5E6']" tpkey="home1" ></Lighting>
		<img class="gifticon1" src="../assets/gift1.png" />
		<Lighting class="lighting2" :lightcolors="['#FFD700', '#FDF5E6']" tpkey="home2" ></Lighting>
		<img class="gifticon2" src="../assets/gift4.png" />
		<img :class="['cartoon-img', steps[curStep].direction === 1 ? 'cartoon-right' : '']" :style="'left:' + ((steps[curStep].x - cartoonWidth / 2) / 100) + 'rem;top:' + ((steps[curStep].y - cartoonHeight) / 100) + 'rem;'" src="../assets/cartoon.png" />
		<RedPack1 v-show="showPack" :showpack="showPack" :giftdata="giftPack" @packclose="onCloseRedPack"></RedPack1>
		<Toast :msg="toastMsg"></Toast>
	</div>
</template>

<script>
import {getGiftPack} from '../apis/giftpack'
import RedPack1 from '../components/RedPack1'
import Lighting from '../components/Lighting'
import Toast from '../components/Toast'
export default {
  name: 'Home',
  data() {
	  return {
		  isLoading: false,
		  showPack: false,
		  isStepping: false,
		  leftChance: 100, // 还剩余的机会
		  giftPack: {},
		  showToast: false,
		  toastMsg: '',
		  cartoonWidth: 168,
		  cartoonHeight: 202,
		  curStep: 0, // 当前所在步数
		  rollSteps: 0, // 前进步数
		  steps: [
			  {
				  x: 149,
				  y: 341,
				  direction: 0, // 朝向 0 朝下， 1 朝右 2 朝下 3 朝左
				  award: 0, // 步数奖励，前进几步或退后几步
			  },
			  {
				  x: 149,
				  y: 440,
				  direction: 0, 
				  award: 0,
			  },
			  {
				  x: 149,
				  y: 556,
				  direction: 0, 
				  award: 0,
			  },
			  {
				  x: 149,
				  y: 676,
				  direction: 0, 
				  award: 1,
			  },
			  {
				  x: 149,
				  y: 796,
				  direction: 0, 
				  award: 0,
			  },
			  {
				  x: 149,
				  y: 905,
				  direction: 0, 
				  award: 0,
			  },
			  {
				  x: 149,
				  y: 1033,
				  direction: 0, 
				  award: 0,
			  },
			  {
				  x: 155,
				  y: 1108,
				  direction: 1, 
				  award: 0,
			  },
			  {
				  x: 252,
				  y: 1130,
				  direction: 1, 
				  award: 0,
			  },
			  {
				  x: 380,
				  y: 1117,
				  direction: 1, 
				  award: 0,
			  },
			  {
				  x: 380,
				  y: 1010,
				  direction: 1, 
				  award: 0,
			  },
			  {
				  x: 380,
				  y: 906,
				  direction: 1, 
				  award: 0,
			  },
			  {
				  x: 380,
				  y: 796,
				  direction: 1, 
				  award: 1,
			  },
			  {
				  x: 490,
				  y: 796,
				  direction: 1, 
				  award: 0,
			  },
			  {
				  x: 600,
				  y: 784,
				  direction: 3, 
				  award: 0,
			  },
			  {
				  x: 600,
				  y: 687,
				  direction: 3, 
				  award: 0,
			  },
			  {
				  x: 600,
				  y: 556,
				  direction: 3, 
				  award: 0,
			  },
			  {
				  x: 600,
				  y: 444,
				  direction: 3, 
				  award: -1,
			  },
			  {
				  x: 600,
				  y: 315,
				  direction: 3, 
				  award: 0,
			  },
			  {
				  x: 486,
				  y: 315,
				  direction: 3, 
				  award: 0,
			  },
			  {
				  x: 370,
				  y: 315,
				  direction: 3, 
				  award: 0,
			  },
			  {
				  x: 258,
				  y: 315,
				  direction: 3, 
				  award: 0,
			  },
		  ]
	  }
  },
  components: {
	RedPack1,
	Lighting,
	Toast
  },
  mounted() {
  },
  methods: {
	  loadGiftPack() {
		this.leftChance--
		this.isLoading = true
		const that = this
		let startTime = new Date().getTime() / 1000
		const minRollSeconds = 1// 3 // 最少转圈时间
		getGiftPack().then(res => {
			console.log('##getGiftPack res:', res)
			let endTime = new Date().getTime() / 1000
			if (endTime - startTime < minRollSeconds) {
				setTimeout(() => {
					if (res.data) {
						that.onLoadSuccess(res.data)
					} else {
						that.onLoadError('加载错误，请重试一次')
					}
				}, (minRollSeconds - (endTime - startTime)) * 1000)
			} else {
				if (res.data) {
					that.onLoadSuccess(res.data)
				} else {
					that.onLoadError('加载错误，请重试一次')
				}
			}
			
		}).catch(err => {
			console.log('##getGiftPack err:', err)
			let endTime = new Date().getTime() / 1000
			if (endTime - startTime < minRollSeconds) {
				setTimeout(() => {
					that.onLoadError('加载错误，请重试一次')
				}, (minRollSeconds - (endTime - startTime)) * 1000)
			} else {
				that.onLoadError('加载错误，请重试一次')
			}
		})
	  },
	  onLoadSuccess(data) {
		let step = 2// + parseInt(Math.floor(Math.random() * 6))
		console.log('step:', step)
		this.rollSteps = step
		this.isLoading = false
		this.isStepping = true
		this.giftPack = data
		this.nextStep()
	  },
	  nextStep() {
		  let cSteps = this.curStep
		  if (this.rollSteps > 0) {
			  this.rollSteps--
			  cSteps++
			  if (cSteps === this.steps.length) {
				  cSteps = 0
			  }
		  } else {
			  this.rollSteps++
			  cSteps--
			  if (cSteps < 0) {
				  cSteps = this.steps.length - 1
			  }
		  }
		  this.curStep = cSteps
		  console.log('curStep:', cSteps, ' rollSteps:', this.rollSteps)
		  if (this.rollSteps != 0) {
			  setTimeout(() => {
				  this.nextStep()
			  }, 1000)
		  } else {
			  let curPos = this.steps[this.curStep]
			  console.log('award:', curPos.award)
			  if (curPos.award !== 0) {
				  this.rollSteps = curPos.award
				  setTimeout(() => {
					this.nextStep()
				  }, 1000)
			  } else {
				  setTimeout(() => {
					  this.isStepping = false 
					this.showPack = true
				  }, 1000)
			  }
		  }
	  },
	  onLoadError(err) {
		  this.showToast = true
		  this.toastMsg = err
		  this.isLoading = false
		  setTimeout(() => {
			  this.showToast = false
			  this.toastMsg = ''
		  }, 1500)
	  },
	  onTapRollDice() {
		  if (this.isLoading || this.isStepping) {
			  return
		  }
		  if (this.leftChance <= 0) {
			  this.onLoadError('今日机会已用完，请明天再来')
			  return
		  }
		  this.loadGiftPack()
	  },
	  onCloseRedPack() {
		  console.log('onCloseRedPack')
		  this.showPack = false
	  }
  }
}
</script>

<style lang="scss" scoped type="text/css">
.bg-containers {
	width: 100vw;
	height: 100vh;
	background-image: url(../../public/t_bg.png);
	background-size: cover;
	// background-size: 750px;
	background-repeat: no-repeat;
	position: relative;
	overflow: hidden;
	.cartoon-img {
		position: absolute;
		transition: all 0.5s ease-in-out;
		width: 168px;
		height: 202px;
	}

	.cartoon-right {
		transform: rotateY(180deg);
	}
	.dice-btn {
		position: absolute;
		right: 50px;
		bottom: 200px;
		font-size: 200px;
	}
	.left-chance {
		position: absolute;
		right: 40px;
		bottom: 160px;
		// width: 200px;
		text-align: right;
		font-size: 24px;
		color: goldenrod;
	}
	.dice-roll {
		animation: dice_roll 0.3s linear infinite;
	}
	.dice-normal {
		transform: rotate(0deg);
	}
	@keyframes dice_roll {
		0% {
			transform: rotate(0deg);
		}
		100% {
			transform: rotate(360deg);
		}
	}
	.lighting1 {
		margin-top: 220px;
		margin-left: 275px;
		width: 200px;
		height: 200px;
	}
	.lighting2 {
		position: absolute;
		left: 112px;
		top: 990px;
		width: 280px;
		height: 280px;
	}
	.gifticon2 {
		position: absolute;
		left: 172px;
		top: 1050px;
		width: 160px;
		height: 160px;
	}
	.gifticon1 {
		position: absolute;
		top: 270px;
		left: 325px;
		width: 100px;
		height: 100px;
		animation: shakeTopx 2s ease infinite;
	}
	@keyframes shakeTopx {
		0%,
		100% {
				transform: rotate(0deg);
		// 		transform-origin: 50% 0;
		}
		5% {
				transform: rotate(5deg);
		}
		10%,
		20%,
		30% {
				transform: rotate(-10deg);
		}
		15%,
		25%,
		35% {
				transform: rotate(10deg);
		}
		40% {
				transform: rotate(-5deg);
		}
		45% {
				transform: rotate(5deg);
		}
		50% {
				transform: rotate(0deg);
		}
	}
}

</style>
