<template>
  <div class="">
    <svg version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" width="100%" height="100%" viewBox="0 0 100 100">
        <defs>
            <!-- FDF1A4 -->
            <linearGradient v-for="(item, index) in colorList" :key="item" :id="tpkey + 'lightitem' + index" x1="0%" y1="0%" x2="100%" y2="0%" :gradientTransform="'rotate(' + itemAng / 2 + ')'" >
                <stop offset="0%" :style="'stop-color:' + item + ';stop-opacity:1'"/>
                <stop offset="10%" :style="'stop-color:' + item + ';stop-opacity:1'" />
                <stop offset="90%" :style="'stop-color:' + item + ';stop-opacity:0'" />
            </linearGradient>
            <!-- <radialGradient v-for="(item, index) in colorList" :key="item" :id="tpkey + 'lightitem' + index" cx="50%" cy="50%" r="100%" fx="0%" fy="0%" :gradientTransform="'rotate(' + -itemAng + ')'">
                <stop offset="0%" :style="'stop-color:' + item + ';stop-opacity:1'"/>
                <stop offset="10%" :style="'stop-color:' + item + ';stop-opacity:1'" />
                <stop offset="90%" :style="'stop-color:' + item + ';stop-opacity:0'" />
            </radialGradient> -->
        </defs> 
        <g class="g-ani">
            <path v-for="item in lightnum" :key="item" :d="lightpath" :transform="'translate(50 50),rotate(' + itemAng * item + '),translate(-50 -50)'" :fill="'url(#' + tpkey + 'lightitem' + item % colorList.length +')'" />
            <animateTransform attributeName="transform" type="rotate" begin="0s" dur="5s" from="0 50 50" to="360 50 50" repeatCount="indefinite" />
        </g>
        <!-- <path d="M50 50l50 0A50 50 0 0 0 50 0 Z" fill="url(#lightcolor1)" />
        <path d="M50 50l-50 0A50 50 0 0 1 50 0 Z" fill="url(#lightcolor4)" />
        <path d="M50 50l-50 0A50 50 0 0 0 50 100 Z" fill="url(#lightcolor1)" />
        <path d="M50 50l50 0A50 50 0 0 1 50 100 Z" fill="url(#lightcolor2)" /> -->
    </svg>
  </div>
</template>

<script>
export default {
    props:{
        lightcolors: {
            type: Array,
            default: () => [
                'red',
                'green'
            ]
        },
        lightnum: {
            type: Number,
            default: 36
        },
        tpkey: {
            type: String,
            default: ''
        }
    },
  name: 'Lighting',
  data () {
    return {
        colorList: [],
        itemAng: 0,
        lightpath: ''
    }
  },
  watch: {
    lightcolors() {
      this.colorList = this.lightcolors;
    }
  },
  mounted() {
      this.colorList = this.lightcolors;
      var r = 50
      var cx = 50
      var cy = 50
      var ang = Math.PI * 2 / this.lightnum
      this.itemAng = 360 / this.lightnum
      var x = Math.cos(ang) * r + cx
      var y = Math.sin(ang) * r + cy
  	this.lightpath = `M50 50l50 0A50 50 0 0 1 ${x} ${y} Z`
  },
  methods: {
  }
}
</script>

<style lang="scss" scoped type="text/css">
    .g-ani {
        // animation: rotate 5s linear infinite;
        // transform-origin: center;
        // transform: rotate(360) 2s infinite;
    }
    @keyframes rotate {
       0% {
           transform: rotate(0deg);
       } 
       100% {
           transform: rotate(360deg);
       }
    }
</style>
