<template>
  <div>
	  
  </div>
</template>

<script>
export default {
  name: 'Component',
  data () {
    return {
    }
  },
  mounted() {
  	
  },
  methods: {
  }
}
</script>

<style lang="scss" scoped type="text/css">

</style>
