<template>
  <div class="pack-containers">
	  <div :class="['flip-box', showpack ? 'box-show' : 'box-hide']">
      <Lighting class="pack-lighting" v-show="animationStage > 2" :lightcolors="['#FA8072', '#FAF0E6']" tpkey="redpack"></Lighting>
      <div :class="['flip-item pack-bg0', animationStage < 2 ? 'flip-show' : 'flip-hide']">
        <img class="bg0-ani-img" v-show="animationStage === 1" src="../assets/pk2.gif" />
      </div>
      <div :class="['flip-item pack-bg1', animationStage > 1 ? 'flip-show' : 'flip-hide']" @click="onTapPack">
        <img class="gift-banner" :src="giftdata.img" />
        <img class="kai-btn" src="../assets/kai.png"/>
      </div>
    </div>
    <img v-show="showClose" class="close-btn" src="../assets/close.svg" @click.stop="onTapClose" />
  </div>
</template>

<script>
import Lighting from './Lighting'
export default {
  props: ['giftdata', 'showpack'],
  name: 'RedPack1',
  data () {
    return {
      animationStage: -1, // 动画阶段 0 

      showClose: false
    }
  },
  watch: {
    showpack: {
       handler: function (nval) {
         if (nval) {
           this.animationStage = 0
           setTimeout(()=> {
             this.showClose = true
             this.animationStage = 1
           }, 500)
           setTimeout(() => {
             this.animationStage = 2
             setTimeout(() => {
               this.animationStage = 3
             }, 500)
           }, 2500)
         }
       }
    }
  },
  components: {
    Lighting
  },
  mounted() {
  	
  },
  methods: {
    onTapPack() {
      if (this.giftdata.url) {
        window.open(this.giftdata.url)
        this.$emit('packclose')
      }
    },
    onTapClose() {
      console.log('onTapClose1')
      this.showpack = false
      this.showClose = false
      setTimeout(() => {
        console.log('onTapClose2')
        this.$emit('packclose')
      }, 500)
    }
  }
}
</script>

<style lang="scss" scoped type="text/css">
.pack-containers {
  position: fixed;
  z-index: 100;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: rgba($color: #000000, $alpha: 0.6);

  .close-btn {
    position: absolute;
    right: 75px;
    top: calc((100% - 700px) / 2 - 70px);
    // right: -50px;
    // top: -70px;
    width: 50px;
    height: 50px;
  }
  .pack-lighting {
    position: absolute;
    top: -100px;
    left: calc((580px - 280px) / 2);
    // left: 235px;
    // top: calc((100% - 700px) / 2 - 100px);
    width: 280px;
    height: 280px;
  }
  .flip-box {
    width: 580px;
    height: 700px;
    position: absolute;
    left: 75px;
    top: calc((100% - 700px) / 2);
  }
  .flip-item {
    width: 580px;
    height: 700px;
    background-image: url('../assets/pk_bg0.jpg');
    background-repeat: no-repeat;
    background-size: 100% 100%;
    position: absolute;
    left: 0;
    top: 0;
    transition:all .5s ease-in-out;
    backface-visibility: hidden;
  }
  .bg0-ani-img {
    position: absolute;
    // width: 500px;
    // height: 500px;
    // left: 40px;
    // bottom: 100px;
    left: 0;
    bottom: 0;
    width: 100%;
    height: auto;
    transition: all 0.3s;
  }
  .flip-show {
    transform: rotateY(0deg);
    z-index: 2;
  }
  .flip-hide {
    transform: rotateY(180deg);
    z-index: 1;
  }
  .box-show {
    animation: pop-show 0.5s;
  }
  @keyframes pop-show {
    0% {
      transform: scale(0);
    }
    100% {
      transform: scale(1);
    }
  }
  .box-hide {
    animation: pop-hide 0.5s;
  }
  @keyframes pop-hide {
    0% {
      transform: scale(1);
    }
    100% {
      transform: scale(0);
    }
  }

  .pack-bg1 {
    background-image: url('../assets/pk_bg1.jpg');
  }
  .gift-banner {
    margin-left: -20px;
    margin-top: 100px;
    width: calc(100% + 40px);
    height: auto;
    box-shadow: 0 0 16px white;
  }
  
  .kai-btn {
    position: absolute;
    width: 100px;
    height: 100px;
    bottom: 50px;
    left: calc((100% - 100px) / 2);
    animation: to_big 2s ease-in-out infinite;
  }
  @keyframes to_big {
    0% {
      transform: scale(1);
      transform-origin: center;
    }
    50% {
      transform: scale(1.5);
      transform-origin: center;
    }
    100% {
      transform: scale(1);
      transform-origin: center;
    }
  }
}
</style>
