<template>
  <div v-show="showComponent" class="toast-container">
    <div :class="['toast-msg', showContent ? 'show-toast' : 'hide-toast']">{{content}}</div>
  </div>
</template>

<script>
export default {
  props: ['msg'],
  name: 'Toast',
  data () {
    return {
      content: '',
      showComponent: false,
      showContent: false
    }
  },
  watch: {
    msg: {
       handler: function (nval) {
         this.showContent = !!nval
         if (this.showContent) {
           this.content = nval
           this.showComponent = true
         } else {
           setTimeout(() => {
             this.content = ''
             this.showComponent = false
           }, 250)
         }
       }
    }
  },
  mounted() {
  },
  methods: {
  }
}
</script>

<style lang="scss" scoped type="text/css">
.toast-container {
  position: fixed;
  z-index: 100;
  left: 0;
  top: 0;
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  // bottom: 250px;
  // left: 50%;
  // transform: translateX(-50%);

}
.toast-msg {
  
  padding: 10px 20px;
  background-color: rgba($color: #000000, $alpha: 0.6);
  border-radius: 5px;
  text-align: center;
  line-height: 1.5;
  // left: 50%;
  // margin-left: auto;
  // margin-right: auto;
  // max-width: 200%;
  
  // transition: all 0.3s;
  color: white;
  font-size: 28px;
  // opacity: 0;
  transform-origin: center center;
  // visibility: hidden;
}
.show-toast {
  animation: show_toast 0.5s;
  // opacity: 1;
}
@keyframes show_toast {
  0% {
    opacity: 0;
    transform: scale(0);
  }
  100% {
    opacity: 1;
    transform: scale(1);
  }
}
.hide-toast {
  animation: hide_toast 0.5s;
  // opacity: 0;
}
@keyframes hide_toast {
  0% {
    opacity: 1;
    transform: scale(1);
  }
  100% {
    opacity: 0;
    transform: scale(0);
  }
}
</style>
