<template>
  <div id="app">
	<Home/>
    <!-- <Home></Home> -->
  </div>
</template>

<script>
import Home from './pages/Home.vue'
import VConsole from 'VConsole'

export default {
  name: 'App',
  components: {
    Home
  },
  mounted() {
	/* eslint-disable no-new */
	new VConsole()
  }
}
</script>

<style>
html, body {
	margin: 0;
	padding: 0;
}
#app {
  font-family: Avenir, Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-align: center;
  color: #2c3e50;
  /* background-color: green; */
}
</style>
